@{
    ViewData["Title"] = "Confirm Email";
}

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Account</span> - Manage
                <small class="display-block">Gestion de votre compte utilisateur</small>
            </h4>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Invoice template -->
<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">Change your account settings</h6>
    </div>
    <div class="panel-body no-padding-bottom">
        <div class="row">
            <div>
                <p>
                    Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
                </p>
            </div>
        </div>
    </div>
</div>