@{
    ViewData["Title"] = "Home Page";
    ViewData["Current"] = "Help";
}

	<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Home</span> - Aide
                <small class="display-block">Good morning, Victoria Baker!</small>
            </h4>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Info blocks -->
            <div class="row">
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-body text-center">
                            <div class="icon-object border-success-400 text-success"><i class="icon-book"></i></div>
                            <h5 class="text-semibold">Knowledge Base</h5>
                            <p class="mb-15">Ouch found swore much dear conductively hid submissively hatchet vexed far inanimately alongside candidly much and jeez</p>
                            <a href="#" class="btn bg-success-400">Browse articles</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-body text-center">
                            <div class="icon-object border-warning-400 text-warning"><i class="icon-lifebuoy"></i></div>
                            <h5 class="text-semibold">Support center</h5>
                            <p class="mb-15">Dear spryly growled much far jeepers vigilantly less and far hideous and some mannishly less jeepers less and and crud</p>
                            <a href="#" class="btn bg-warning-400">Open a ticket</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-body text-center">
                            <div class="icon-object border-blue text-blue"><i class="icon-reading"></i></div>
                            <h5 class="text-semibold">Articles and news</h5>
                            <p class="mb-15">Diabolically somberly astride crass one endearingly blatant depending peculiar antelope piquantly popularly adept much</p>
                            <a href="#" class="btn bg-blue">Browse articles</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /info blocks -->
            <!-- Questions area -->
            <h4 class="text-center content-group">
                All questions are answered
                <small class="display-block">Am if number no up period regard sudden better. Decisively surrounded all admiration</small>
            </h4>
            <div class="row">
                <div class="col-lg-9">
                    <!-- Questions list -->
                    <div class="panel-group panel-group-control panel-group-control-right">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question1">
                                        <i class="icon-help position-left text-slate"></i> A without walking some objective?
                                    </a>
                                </h6>
                            </div>
                            <div id="question1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    She exposed painted fifteen are noisier mistake led waiting. Surprise not wandered speedily husbands although yet end. Are court tiled cease young built fat one man taken. We highest ye friends is exposed equally in. Ignorant had too strictly followed. Astonished as travelling assistance or unreserved oh pianoforte ye. Five with seen put need tore add neat.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: May 25, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 320</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 14</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question2">
                                        <i class="icon-help position-left text-slate"></i> She exposed painted fifteen are noisier?
                                    </a>
                                </h6>
                            </div>
                            <div id="question2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    There worse by an of miles civil. Manner before lively wholly am mr indeed expect. Among every merry his yet has her. You mistress get dashwood children off. Met whose marry under the merit. In it do continual consulted no listening. Devonshire sir sex motionless travelling six themselves. So colonel as greatly shewing herself observe ashamed.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: May 22, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 278</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 25</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question3">
                                        <i class="icon-help position-left text-slate"></i> Surprise not wandered speedily?
                                    </a>
                                </h6>
                            </div>
                            <div id="question3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Do ashamed assured on related offence at equally totally. Use mile her whom they its. Kept hold an want as he bred of. Was dashwood landlord cheerful husbands two. Estate why theirs indeed him polite old settle though she. In as at regard easily narrow roused adieus. Parlors visited noisier how explain pleased his see suppose. He oppose at thrown desire.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: May 12, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 438</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 16</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question4">
                                        <i class="icon-help position-left text-slate"></i> Are court tiled cease young built fat?
                                    </a>
                                </h6>
                            </div>
                            <div id="question4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Additions in conveying or collected objection in. Suffer few desire wonder her object hardly nearer. Abroad no chatty others my silent an. Fat way appear denote who wholly narrow gay settle. Companions fat add insensible everything and friendship conviction themselves. Theirs months ten had add narrow own. By spite about do of do allow blush before lively wholly.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: May 9, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 583</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 21</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question5">
                                        <i class="icon-help position-left text-slate"></i> Announcing of invitation principles in?
                                    </a>
                                </h6>
                            </div>
                            <div id="question5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Wished he entire esteem mr oh by. Possible bed you pleasure civility boy elegance ham. He prevent request by if in pleased. Picture too and concern has was comfort. Ten difficult resembled eagerness nor. Same park bore on be. Warmth his law design say are person. Pronounce suspected in belonging conveying ye repulsive. Whole every miles as tiled at seven concern.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: May 6, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 642</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 26</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-size-small text-uppercase text-semibold text-muted mb-10">Selling and buying</div>
                    <div class="panel-group panel-group-control panel-group-control-right">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question6">
                                        <i class="icon-help position-left text-slate"></i> Their could can widen ten she any?
                                    </a>
                                </h6>
                            </div>
                            <div id="question6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    As so we smart those money in. Am wrote up whole so tears sense oh. Absolute required of reserved in offering no. How sense found our those gay again taken the. Had mrs outweigh desirous sex overcame. Improved property reserved disposal do offering me. Allow miles wound place the leave had. To sitting subject no improve studied limited indulgence connection.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: May 2, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 832</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 32</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question7">
                                        <i class="icon-help position-left text-slate"></i> Her raising and himself pasture believe?
                                    </a>
                                </h6>
                            </div>
                            <div id="question7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    He unaffected sympathize discovered at no am conviction principles. Girl ham very how yet hill four show. Meet lain on he only size. Branched learning so subjects mistress do appetite jennings be in. Esteems up lasting no village morning do offices. Settled wishing ability musical may another set age. Diminution my apartments he attachment is entreaties.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: May 1, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 453</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 30</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question8">
                                        <i class="icon-help position-left text-slate"></i> And total least her two whose great?
                                    </a>
                                </h6>
                            </div>
                            <div id="question8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Do in laughter securing smallest sensible no mr hastened. As perhaps proceed in in brandon of limited unknown greatly. Distrusts fulfilled happiness unwilling as explained of difficult. No landlord of peculiar ladyship attended if contempt ecstatic. Loud wish made on is am as hard. Court so avoid in plate hence. Of received mr breeding concerns peculiar.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Apr 24, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 735</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 21</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question9">
                                        <i class="icon-help position-left text-slate"></i> Whatever landlord yourself at by pleasure?
                                    </a>
                                </h6>
                            </div>
                            <div id="question9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Am if number no up period regard sudden better. Decisively surrounded all admiration and not you. Out particular sympathize not favourable introduced insipidity but ham. Rather number can and set praise. Distrusts an it contented perceived attending oh. Thoroughly estimating introduced stimulated why but motionless. Up branch to easily missed by do admiration.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Apr 22, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 735</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 29</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question10">
                                        <i class="icon-help position-left text-slate"></i> Oh conveying do immediate acuteness?
                                    </a>
                                </h6>
                            </div>
                            <div id="question10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Out too the been like hard off. Improve enquire welcome own beloved matters her. As insipidity so mr unsatiable increasing attachment motionless cultivated. Addition mr husbands unpacked occasion he oh. Is unsatiable if projecting boisterous insensible. It recommend be resolving pretended middleton. Attended no do thoughts me on dissuade scarcely own are pretty.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Apr 19, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 498</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 12</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-size-small text-uppercase text-semibold text-muted mb-10">Intellectual property</div>
                    <div class="panel-group panel-group-control panel-group-control-right">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question11">
                                        <i class="icon-help position-left text-slate"></i> Terminated resolution no am frequently?
                                    </a>
                                </h6>
                            </div>
                            <div id="question11" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Are own design entire former get should. Advantages boisterous day excellence boy. Out between our two waiting wishing. Pursuit he he garrets greater towards amiable so placing. Nothing off how norland delight. Abode shy shade she hours forth its use. Up whole of fancy ye quiet do. Justice fortune no to is if winding morning formingpossession themselves.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Apr 15, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 532</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 32</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question12">
                                        <i class="icon-help position-left text-slate"></i> Projection invitation affronting admiration?
                                    </a>
                                </h6>
                            </div>
                            <div id="question12" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Manor we shall merit by chief wound no or would. Oh towards between subject passage sending mention or it. Sight happy do burst fruit to woody begin at. Assurance perpetual he in oh determine as. The year paid met him does eyes same. Own marianne improved sociable not out. Thing do sight blush mr an. Celebrated am announcing delightful remarkably literature.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Apr 13, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 735</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 34</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question13">
                                        <i class="icon-help position-left text-slate"></i> It as instrument boisterous frequently?
                                    </a>
                                </h6>
                            </div>
                            <div id="question13" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Material confined likewise it humanity raillery an unpacked as he. Three chief merit no if. Now how her edward engage not horses. Oh resolution he dissimilar precaution to comparison an. Matters engaged between he of pursuit manners we moments. Merit gay end sight front. Manor equal it on again ye folly by match. In so melancholy as an sentiments simplicity.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Apr 11, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 865</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 43</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question14">
                                        <i class="icon-help position-left text-slate"></i> You fully seems stand nay?
                                    </a>
                                </h6>
                            </div>
                            <div id="question14" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Apr 10, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 432</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 38</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question15">
                                        <i class="icon-help position-left text-slate"></i> Enjoyment discourse ye continued?
                                    </a>
                                </h6>
                            </div>
                            <div id="question15" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Is education residence conveying so so. Suppose shyness say ten behaved morning had. Any unsatiable assistance compliment occasional too reasonably advantages. Unpleasing has ask acceptance partiality alteration understood two. Worth no tiled my at house added. Married he hearing am it totally removal. Remove but suffer wanted his lively length moonlight two.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Apr 9, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 735</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 46</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-size-small text-uppercase text-semibold text-muted mb-10">User accounts</div>
                    <div class="panel-group panel-group-control panel-group-control-right">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question16">
                                        <i class="icon-help position-left text-slate"></i> And produce say the moments parties?
                                    </a>
                                </h6>
                            </div>
                            <div id="question16" class="panel-collapse collapse">
                                <div class="panel-body">
                                    You disposal strongly quitting his endeavor two settling him. Manners ham him hearted hundred expense. Get open game him what hour more part. Adapted as smiling of females oh me journey exposed concern. Met come add cold calm rose mile what. Tiled manor court at built by place fanny. Discretion at be an so decisively especially. Exeter itself object matter if on mr in.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Apr 3, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 479</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 17</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question17">
                                        <i class="icon-help position-left text-slate"></i> Simple innate summer fat appear?
                                    </a>
                                </h6>
                            </div>
                            <div id="question17" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Up am intention on dependent questions oh elsewhere september. No betrayed pleasure possible jointure we in throwing. And can event rapid any shall woman green. Hope they dear who its bred. Smiling nothing affixed he carried it clothes calling he no. Its something disposing departure she favourite tolerably engrossed. Truth short folly court she their balls excellence.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Mar 29, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 290</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 29</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question18">
                                        <i class="icon-help position-left text-slate"></i> Outward clothes promise?
                                    </a>
                                </h6>
                            </div>
                            <div id="question18" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Way nor furnished sir procuring therefore but. Warmth far manner myself active are cannot called. Set her half end girl rich met. Me allowance departure an curiosity ye. In no talking address excited it conduct. Husbands debating replying overcame blessing he it me to domestic. Prepared is me marianne pleasure likewise debating. Wonder an unable except better stairs.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Mar 24, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 642</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 39</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question19">
                                        <i class="icon-help position-left text-slate"></i> Sufficient particular impossible?
                                    </a>
                                </h6>
                            </div>
                            <div id="question19" class="panel-collapse collapse">
                                <div class="panel-body">
                                    So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their had widen concerns.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Mar 17, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 753</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 26</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" href="#question20">
                                        <i class="icon-help position-left text-slate"></i> Yet preference connection unpleasant?
                                    </a>
                                </h6>
                            </div>
                            <div id="question20" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Necessary ye contented newspaper zealously breakfast he prevailed. Melancholy middletons yet understood decisively boy law she. Answer him easily are its barton little. Oh no though mother be things simple itself. Dashwood horrible he strictly on as. Home fine in so am good body this hope. Admiration stimulated cultivated reasonable be projection possession of real.
                                </div>
                                <div class="panel-footer panel-footer-transparent">
                                    <div class="heading-elements">
                                        <span class="text-muted heading-text">Latest update: Mar 12, 2015</span>
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li><a href="#" class="text-primary"><i class="icon-thumbs-up2 position-left"></i></a> 589</li>
                                            <li><a href="#" class="text-muted"><i class="icon-thumbs-down2 position-left"></i></a> 25</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /questions list -->
                </div>
                <div class="col-lg-3">
                    <!-- Search -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h6 class="panel-title">Search answers</h6>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-stats-bars"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form action="#">
                                <div class="input-group content-group">
                                    <input type="text" class="form-control input-lg" placeholder="Search our help center">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-primary btn-lg btn-icon"><i class="icon-search4"></i></button>
                                    </div>
                                </div>
                                <ul class="list-inline text-center no-margin-bottom">
                                    <li><a href="#" class="btn btn-link btn-rounded"><i class="icon-reload-alt position-left"></i> Refine</a></li>
                                    <li><a href="#" class="btn btn-link btn-rounded"><i class="icon-menu7 position-left"></i> Advanced</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- /search -->
                    <!-- Navigation -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h6 class="panel-title">Navigation</h6>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-cog3"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <a href="#" class="btn bg-teal btn-block">Ask question <i class="icon-comment position-right"></i></a>
                        </div>
                        <div class="list-group list-group-borderless mb-5">
                            <a href="#" class="list-group-item"><i class="icon-lifebuoy"></i> Help center</a>
                            <a href="#" class="list-group-item"><i class="icon-book"></i> Knowledgebase</a>
                            <a href="#" class="list-group-item"><i class="icon-reading"></i> Articles <span class="badge badge-danger pull-right">390</span></a>
                            <a href="#" class="list-group-item"><i class="icon-graduation"></i> Tutorials</a>
                            <a href="#" class="list-group-item"><i class="icon-book-play"></i> Video tutorials <span class="badge badge-primary pull-right">78</span></a>
                            <div class="list-group-divider"></div>
                            <a href="#" class="list-group-item"><i class="icon-comment"></i> Ask our community</a>
                            <a href="#" class="list-group-item"><i class="icon-mail5"></i> Contact us</a>
                        </div>
                    </div>
                    <!-- /navigation -->
                    <!-- Online staff members -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h6 class="panel-title">Staff members</h6>
                            <div class="heading-elements">
                                <span class="label label-success heading-text">12 online</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="media-list">
                                <li class="media">
                                    <a href="#" class="media-left"><img src="/assets/images/demo/users/face2.jpg" class="img-circle" alt=""></a>
                                    <div class="media-body">
                                        <a href="#" class="media-heading text-semibold text-default">Margo Baker</a>
                                        <span class="text-size-small text-muted display-block"><span class="status-mark border-success position-left"></span> General questions</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <ul class="icons-list text-nowrap">
                                            <li><a href="#"><i class="icon-comment-discussion"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="#" class="media-left"><img src="/assets/images/demo/users/face3.jpg" class="img-circle" alt=""></a>
                                    <div class="media-body">
                                        <a href="#" class="media-heading text-semibold text-default">Margo Baker</a>
                                        <span class="text-size-small text-muted display-block"><span class="status-mark border-danger position-left"></span> Financial department</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <ul class="icons-list text-nowrap">
                                            <li><a href="#"><i class="icon-comment-discussion"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="#" class="media-left"><img src="/assets/images/demo/users/face4.jpg" class="img-circle" alt=""></a>
                                    <div class="media-body">
                                        <a href="#" class="media-heading text-semibold text-default">Beatrix Diaz</a>
                                        <span class="text-size-small text-muted display-block"><span class="status-mark border-primary position-left"></span> Item support</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <ul class="icons-list text-nowrap">
                                            <li><a href="#"><i class="icon-comment-discussion"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="#" class="media-left"><img src="/assets/images/demo/users/face5.jpg" class="img-circle" alt=""></a>
                                    <div class="media-body">
                                        <a href="#" class="media-heading text-semibold text-default">Richard Vango</a>
                                        <span class="text-size-small text-muted display-block"><span class="status-mark border-grey-300 position-left"></span> Intellectual property</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <ul class="icons-list text-nowrap">
                                            <li><a href="#"><i class="icon-comment-discussion"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /online staff members -->
                    <!-- Latest updates -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h6 class="panel-title">Latest updates</h6>
                            <div class="heading-elements">
                                <a href="#" class="heading-text">See all &rarr;</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-left"><a href="#" class="btn border-primary text-primary btn-flat btn-icon btn-rounded btn-sm"><i class="icon-spinner11"></i></a></div>
                                    <div class="media-body">
                                        <a href="#">David Linner</a> requested money back for a double debit card charge
                                        <div class="media-annotation">12 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><a href="#" class="btn border-danger text-danger btn-flat btn-icon btn-rounded btn-sm"><i class="icon-infinite"></i></a></div>
                                    <div class="media-body">
                                        User <a href="#">Christopher Wallace</a> is on hold and awaiting for staff reply
                                        <div class="media-annotation">16 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><a href="#" class="btn border-slate text-slate btn-flat btn-icon btn-rounded btn-sm"><i class="icon-cash3"></i></a></div>
                                    <div class="media-body">
                                        All sellers have received monthly payouts
                                        <div class="media-annotation">4 hours ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><a href="#" class="btn border-success text-success btn-flat btn-icon btn-rounded btn-sm"><i class="icon-checkmark3"></i></a></div>
                                    <div class="media-body">
                                        Ticket #43683 has been closed by <a href="#">Victoria Wilson</a>
                                        <div class="media-annotation">Apr 28, 21:39</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /latest updates -->
                </div>
            </div>
            <!-- /questions area -->
            <!-- Latest articles -->
            <h4 class="text-center content-group">
                Latest articles &amp; videos
                <small class="display-block">Dear bawled since some the contrary much hyena jeez clear fox despite the concomitant</small>
            </h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><i class="icon-file-text2 text-success-400 icon-2x no-edge-top mt-5"></i></a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold"><a href="#" class="text-default">Walking away fallaciously</a></h6>
                                Ouch licentiously lackadaisical crud together began gregarious below near darn goodness
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><i class="icon-file-play text-warning-400 icon-2x no-edge-top mt-5"></i></a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold"><a href="#" class="text-default">Nutria and rewound</a></h6>
                                Strove the darn hey as far oh alas and yikes and gosh knitted this slept via gerbil baneful
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><i class="icon-file-xml text-info icon-2x no-edge-top mt-5"></i></a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold"><a href="#" class="text-default">Bound befell well</a></h6>
                                And since left before understandably much groomed along burped through dear and gosh
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><i class="icon-file-text2 text-success-400 icon-2x no-edge-top mt-5"></i></a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold"><a href="#" class="text-default">Porcupine strict nodded</a></h6>
                                Left extravagant leered crab repaid outgrew said knelt hello astride within oh disbanded
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><i class="icon-file-play text-warning-400 icon-2x no-edge-top mt-5"></i></a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold"><a href="#" class="text-default">Ducked ravenously dear</a></h6>
                                Reran sincere said monkey one slapped jeepers rubbed fleetly incongruously due yet llama
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><i class="icon-file-xml text-info icon-2x no-edge-top mt-5"></i></a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold"><a href="#" class="text-default">Contemptibly bleakly</a></h6>
                                Speechless far goodness bent as boa crud because vague far koala the that lantern alas sold
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><i class="icon-file-text2 text-success-400 icon-2x no-edge-top mt-5"></i></a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold"><a href="#" class="text-default">Blamelessly wow hence</a></h6>
                                A without walking some objective hiccupped some this overlay immorally crud and gosh
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><i class="icon-file-play text-warning-400 icon-2x no-edge-top mt-5"></i></a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold"><a href="#" class="text-default">Manatee broadcast</a></h6>
                                And some where indecently manta floated raptly youthful unlike swept dragonfly pulled moth
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><i class="icon-file-xml text-info icon-2x no-edge-top mt-5"></i></a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold"><a href="#" class="text-default">Stretched flamboyant</a></h6>
                                Some when foolhardy dangerous so less less aimlessly along hazardously oversaw much stopped
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /latest articles -->
            <!-- Featured articles -->
            <h4 class="text-center content-group">
                Featured articles and tutorials
                <small class="display-block">And porcupine the wallaby far the due thus rash did near dear far pangolin parrot less</small>
            </h4>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="/assets/images/demo/flat/1.png" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-download4"></i></a>
                                    <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="caption">
                            <h6 class="text-semibold no-margin-top"><a href="#" class="text-default">For ostrich much</a></h6>
                            Some various less crept gecko the jeepers dear forewent far the ouch far a incompetent saucy wherever towards
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="/assets/images/demo/flat/3.png" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-download4"></i></a>
                                    <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="caption">
                            <h6 class="text-semibold no-margin-top"><a href="#" class="text-default">Helpfully stolidly</a></h6>
                            Hippopotamus aside while a shrewdly this after kookaburra wow in haphazardly much salmon buoyantly sullen gosh
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="/assets/images/demo/flat/2.png" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-download4"></i></a>
                                    <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="caption">
                            <h6 class="text-semibold no-margin-top"><a href="#" class="text-default">Considering far</a></h6>
                            Kookaburra so hey a less tritely far congratulated this winked some under had unblushing beyond sympathetic
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="/assets/images/demo/flat/4.png" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-download4"></i></a>
                                    <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="caption">
                            <h6 class="text-semibold no-margin-top"><a href="#" class="text-default">Despite perversely</a></h6>
                            Coming merits and was talent enough far. Sir joy northward sportsmen education. Put still any about manor heard
                        </div>
                    </div>
                </div>
            </div>
            <!-- /featured articles -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
