@{
    ViewData["Title"] = "Home Page";
    ViewData["Current"] = "Historique";
}

	<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Home</span> - Activité
                <small class="display-block">Good morning, Victoria Baker!</small>
            </h4>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Page container -->
<div class="panel panel-white">
    @*<div class="panel-heading">
            <h6 class="panel-title">Change your account settings</h6>
        </div>*@
    <div class="panel-body no-padding-bottom">
        <div class="row">

        </div>
    </div>
</div>
<!-- /page container -->
